ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: 1px  solid #e7e7e7;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    margin-top: 0px;
    padding-left: 200px;

}
li{
    float: left;
    
}
li a{
    display: block;
    color: rgb(14, 13, 12);
    text-align: center;
    padding: 14px 16px;
    text-decoration: dotted;
}
li a:hover{
    background-color: rgb(185, 223, 124);
}
.active{
    background-color:  rgb(214, 236, 236);
}
img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: 50px;
    margin-top: 20PX;
}
#border{
    border-bottom :1px solid rgb(185, 223, 124);
    padding-top: 10px; 
    
}
table{
    border:1px solid #333;
    border-spacing: 5px;
}
table, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
  }
  th,td{
      padding: 15px;
  }
  #t01 tr:nth-child(even) {
    background-color: #eee;
  }
  #t01 tr:nth-child(odd) {
    background-color: #fff;
  }
  #t01 th {
    color: white;
    background-color: black;
  }
  footer{
      background-color: rgb(214, 236, 236);
      width: 100%;
  }
  .fa {
    padding: 40px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  